/* --------------------- */
/*        Reset          */
/* --------------------- */

/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Setup for body */
body {
    line-height: 1.5;
}

/* Make images easier to work with */
img,
iframe, 
picture {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */
input,
button, 
textarea,
select {
    font: inherit;
}


